<html>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="replay" /> <br />
            <input type="submit" />
            <br />
            <script>
            data = {{ data|tojson }}
            </script>
        </form>
    </body>
</html>