<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap/bootstrap.css") }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap/bootstrap-grid.css") }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap/bootstrap-reboot.css") }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css") }}" />

        <title>FAF and SCFA replay parser and API</title>
    </head>
    <body id="content">
        <div class="container">
            {% block input %}
                <div class="row block blue-line">
                    <form id="replay-upload" action="/parse" method="post" enctype="multipart/form-data" class="col-12">
                        Replay: <input type="file" name="replay" id="replay-file" />
                        <input type="submit" value="Parse" />
                    </form>
                </div>
            {% endblock %}
            {% block navigation %}
                <div class="row block red-line">
                    <div class="col-6">
                        <a id="replay-step-left" href="#">&lt; &lt; &lt; &lt; &lt;</a>
                        <input type="number" id="replay-tick" placeholder="Tick" />
                        <a id="replay-step-right" href="#">&gt; &gt; &gt; &gt; &gt;</a><br />
                        <hr />
                        <input type="number" id="replay-ticks-count" placeholder="Frame - number of ticks" value="0" />
                        <hr />
                        Max Tick: <span id="replay-max-tick"></span>
                        <hr />
                        Desync Ticks: <span id="replay-desync-ticks"></span>

                    </div>
                    <div class="col-6">
                        <select id="replay-filter" multiple class="col-12">
                            <optgroup label="Often">
                                <option value="advance">Advance</option>
                                <option value="set_command_source">Set command source</option>
                                <option value="command_source_terminated">Command source terminated</option>
                                <option value="verify_checksum">Verify checksum</option>
                            </optgroup>
                            <optgroup label="Normal">
                                <option value="issue">Issue</option>
                                <option value="factory_issue">Factory issue</option>
                                <option value="create_unit">Create unit</option>
                                <option value="create_prop">Create property</option>
                                <option value="single_step">Single step</option>
                                <option value="command_count_increase">Command count increase</option>
                                <option value="command_count_decrease">Command count decrease</option>
                                <option value="set_command_target">Set command target</option>
                                <option value="set_command_type">Set command type</option>
                                <option value="set_command_cells">Set command cells</option>
                                <option value="lua_sim_callback">LUA SIM Callback</option>
                            </optgroup>
                            <optgroup label="Rare">
                                <option value="request_pause">Request pause</option>
                                <option value="resume">Resume</option>
                                <option value="destroy_entity">Destroy unit</option>
                                <option value="warp_entity">Warp unit</option>
                                <option value="process_info_pair">Process info pair</option>
                                <option value="set_command_cells">Set command cells</option>
                                <option value="remove_from_queue">Remove from queue</option>
                                <option value="debug_command">Debug command</option>
                                <option value="execute_lua_in_sim">Execute LUA in SIM</option>
                                <option value="end_game">End game</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            {% endblock %}
            <textarea class="row block yellow-line col-12" id="replay-header"
                placeholder="Header content will be here"
            ></textarea>
            <textarea class="row block green-line col-12" id="replay-body"
                placeholder="Tick content will be here"
            ></textarea>
        </div>

        <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>